<div class="container">
  <div class="card">

  <%# photo %>
  <div class="photo">
    <%= image_tag @pokemon.sprites.front_default %>
  </div>

  <%# name %>
  <div class="name">
    <h1><%= @pokemon.name %></h1>
  </div>

  <%# type_name %>
  <div class="type">
    <p><%= @pokemon.types[0].type.name %></p>
  </div>

  <%# move_name_0 %>
  <div class="move_null">
    <button class="btn-style"><%= @pokemon.moves[0].move.name %></button>
  </div>

  <%# move_name_1 %>
  <div class="move_one">
    <button class="btn-style"><%= @pokemon.moves[1].move.name %></button>
  </div>

  <%# move_name_2 %>
  <div class="move_two">
    <button class="btn-style"><%= @pokemon.moves[2].move.name %></button>
  </div>

  <div class="previous-next">
    <%= link_to "Go to # #{params[:id].to_i - 1}", pokemon_path(params[:id].to_i - 1), class: "btn-style-no" %>
    <%= link_to "Go to # #{params[:id].to_i + 1}", pokemon_path(params[:id].to_i + 1), class: "btn-style-no" %>
  </div>

  </div>
</div>
