<div class="container">
  <% if user_signed_in?  %>
        <h2>Hi <%= current_user.first_name %>!</h2>
        <h4>Check out my Pokemons!</h4>
        <p>Which Pokemon do you want to see?</p>
  <% end %>

  <%= form_tag pokemon_path(params[:id].to_i), method: :get do %>
    <%= label_tag :search, "Search for a Pokemon by ID:" %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>

</div>
